html{
    background-color: cornflowerblue;
    color: white;
    text-align: justify;
}

.parrafo{
    column-count: 3;
    column-gap: 40px;
    column-rule: solid red 2px;
}

h1:hover{
    color: red
}

.parrafo::selection{
    color: red;
    background-color: white;
}