body {
    background-color: cyan;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

div {
    margin: 2%;
}

table {
    text-align: center;
    margin-left: 2%;
}

table,
th,
td {
    border: 1px solid black;
}

footer {
    color: white;
    background-color: darkslategray;
}

#edad:in-range {
    background-color: green;
    color: white;
}

#edad:out-of-range {
    background-color: red;
    color: white;
}

.bordes h2 {
    text-align: center;
}

.bordes {
    background-color: white;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    border-top: dotted green 5px;
    border-bottom: solid red 5px;
    border-left: double black 10px;
    border-right: dashed blue 10px;
}

.botones {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: auto;
    text-align: center;
}

.botones button {
    margin: 5%;
}

.tabla {
    margin: auto;
    border: 4px solid black;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: burlywood;
    width: 50%;
}

caption {
    background-color: blue;
    margin-left: 35%;
    margin-right: 35%;
    color: white;
}

.titulos th {
    padding-top: 10px;
}

.iva {
    background-color: blue !important;
    color: white;
}

.tabla th {
    border: none;
}

.tabla td {
    border: none;
    box-shadow: 1px 1px black;
}

.tarea11 {
    background-color: greenyellow;
    width: 250px;
    height: 250px;
    overflow: auto;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
}

.outline {
    background-color: red;
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    outline: black dotted 15px;
}

.outline:hover {
    outline: gold dashed 15px;
}

.cuadradorojo {
    background-color: red;
    border: 5px solid black;
    width: 250px;
    height: 250px;
}

.circulos {
    position: relative;
    background-color: greenyellow;
    width: 25px;
    height: 25px;
    border: 2px solid black;
    border-radius: 50px;
    text-align: center;
}

.uno {
    margin-top: -6%;
    margin-left: -6%;
}

.dos {
    margin-top: -14%;
    margin-left: 95%;
}

.tres {
    margin-top: 90%;
    margin-left: -6%;
}

.cuatro {
    margin-top: -14%;
    margin-left: 95%;
}

.tarea14 {
    width: 350px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    background-color: gray;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 0px 0px 25px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.diana {
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px outset red;
}

.rojo {
    background-color: red;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rojo2 {
    background-color: red;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blanco {
    background-color: white;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blanco2 {
    background-color: white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centro {
    background-color: red;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lineah {
    position: absolute;
    width: 5px;
    background-color: black;
    height: 300px;
}

.lineav {
    background-color: black;
    width: 300px;
    position: absolute;
    height: 5px;
}