header {
    background-color: red;
    height: 20vh;
}

nav {
    background-color: darkturquoise;
    height: 5vh;
}

section {
    background-color: pink;
    width: 60vh;
    height: 65vh;
    float: left;
}

aside {
    background-color: purple;
    width: 40vh;
    height: 65vh;
    float: right;
}

footer {
    background-color: greenyellow;
    height: 10vh;
}